$CDN:'https://cdngarenanow-a.akamaihd.net/gstaticid/AOV/helping-hands/';

$fontNormal:'Helvetica';
$fontBold:'Helvetica Bold';
$fontLight:'Helvetica Light';

// Event Main Color
$cream: #FFEDD0;
$lightBlue: #3BD9E4;
$brown: #56351C;
$darkRed: #5D1816;

$darkPurple: #22243A;
$textGray: #515254;
$textBlue: #2762BE;
$textLightBlue: #7F93D4;
$dotsBlue:#5585F2;
$dotsLightGray:#AAAFC1;