$CDN:'https://cdngarenanow-a.akamaihd.net/gstaticid/AOV/helping-hands/';

$fontNormal:'Helvetica';
$fontBold:'Helvetica Bold';
$fontLight:'Helvetica Light';

// Event Main Color
$cream: #FFEDD0;
$lightBlue: #3BD9E4;
$brown: #56351C;
$darkRed: #5D1816;

$darkPurple: #22243A;
$textGray: #515254;
$textBlue: #2762BE;
$textLightBlue: #7F93D4;
$dotsBlue:#5585F2;
$dotsLightGray:#AAAFC1;

$primary-color: #535ADF;
$secondary-45-color: rgba(0, 0, 0, 0.45);
$neutral-5: #D9D9D9;
$neutral-4: #F0F0F0;
$neutral-3: #F5F5F5;
$neutral-2: #FAFAFA;
$neutral-1: rgba(0, 0, 0, 1);
$blue-6: #1890FF;
$danger: #FF4D4F;