@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
// @import 'reset';
@import 'main';

h1, h2, h3, h4, h5, h6, p, label, span {
  font-family: 'Roboto', sans-serif; 
}

html, body {
  width: 100%;
  height: 100vmin;
}

body {
    background-size: 100%;
    font-family: $fontNormal;
    color: $textGray;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: 100vh !important;
  position: fixed !important;
}
