.o-cashier-data-transaction-add {
  background-color: white;
  font-size: 10px;
  padding: 3em;  
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__products {
    &-search {
      display: flex;
      justify-content: space-between;    
      margin-bottom: 2em;
      h3 {
        flex-basis: 60%;
        font-size: 1.8em;
      }
    }
    &-list {
      padding-right: 1em;
      height: 600px;
      overflow-y: auto;
    }
  }
}