.o-widget-card-product {
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 1em;
  margin-bottom: 2em;
  .ant-space {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
  }
  p {
    font-size: 1.6em;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.45);    
  }
  h2 {
    font-size: 2em;
  }
  &__img {
    width: 100%;
    height: 8em;
    object-fit: cover;    
  }
  p {
    text-transform: capitalize;
  }
}