@import '../../../../../assets/scss/variables.scss';

.o-owner-dashboard-highlight {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__card {
    flex-basis: 30%;
    background-color: white;
    padding: 1.5em;
    padding-bottom: 2.5em;
    &-title {
      display: flex; 
      align-items: center;
      justify-content: space-between;      
      h3 {
        font-size: 1.6em;
        color: $secondary-45-color;
        margin-bottom: 0;
      }
      .anticon {
        font-size: 1.4em;
      }
    }
    &-total {
      font-size: 3em;
      margin-bottom: 0;
    }
    &-other {
      font-size: 1.4em;
      margin-bottom: 0;
    }
  }
}