@import '../../../../assets/scss/variables';

.o-register-form {
  width: 80%;
  .ant-picker {
    width: 100%;
  }
  &__title {
    margin-bottom: 1em;
    h1 {
      font-size: 3.4em;
      margin-bottom: 0;
    }
    h3 {
      margin-top: 1em;
      font-size: 2.2em;
      color: $neutral-1;
      margin-bottom: 0;
    }
    p {
      font-size: 1.6em;
    }
  }  
  .ant-form-item-label>label {
    font-weight: 500;
    font-size: 16px;
  }
  .btn-form {
    margin-top: 2em;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.4em;    
    font-size: 1.4em;
    p {
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}