@import '../../../../../assets/scss/variables.scss';

.o-owner-dashboard-card-group {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  &__card {
    width: 100%;
    background-color: white;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &-thumbnail {
      width: 100%;
      img { 
        width: 100%; 
        height: 15em;
        object-fit: cover;
      }
    }     
    &-title {
      padding: 1.5em;      
      h3 {
        font-size: 2em;        
        margin-bottom: 0;
      }
      p {
        font-size: 1.4em;
        color: $secondary-45-color;
        font-weight: 500;
      }
    }
    &-total {
      font-size: 3em;
    }
  }
}