.p-login-cashier {
  display: flex;
  height: 100vh;
  font-size: 10px;
  &__cover {
    flex-basis: 55%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__form {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}